main{
    height: fit-content;
}
main>div{
    margin-top: 1%;
}
img{
    width: 100px;
}
.tableContainer{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2%;
}
#dateDiver{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}
table{
    border-collapse: collapse;
}
tr{
    border: 1px solid black;
    padding: 5%;
    background-color: whitesmoke;
}
thead>tr{
    background-color: lightblue;
}
td, th{
    padding: 1%;
}
tr:hover{
    background-color: rgba(0, 0, 0, 0.125);
}